<?xml  version="1.0"?>
<!--
/**
 * This file is part of the TemplateHintsHover project.
 *
 * Hackathon TemplateHintsHover is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License version 3 as
 * published by the Free Software Foundation.
 *
 * This script is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
 *
 * PHP version 5
 *
 * @category  TemplateHintsHover
 * @package   Hackathon_TemplateHintsHover
 * @author    Claudiu Marginean <claudiu.f.marginean@gmail.com>
 * @author    Mihai MATEI <mihaimatei@gmail.com>
 * @license   http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @version   0.1.0
 */
-->
<config>
    <modules>
        <Hackathon_TemplateHintsHover>
            <version>0.1.0</version>
        </Hackathon_TemplateHintsHover>
    </modules>
    <global>
        <helpers>
            <Hackathon_TemplateHintsHover>
                <class>Hackathon_TemplateHintsHover_Helper</class>
            </Hackathon_TemplateHintsHover>
        </helpers>
    </global>
    <frontend>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <hackathon_attributeconfigurator_version>
                        <class>Hackathon_TemplateHintsHover_Model_Observer</class>
                        <method>addTemplateHints</method>
                    </hackathon_attributeconfigurator_version>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
        <layout>
            <updates>
                <mgt_developertoolbar>
                    <file>mgt_developertoolbar.xml</file>
                </mgt_developertoolbar>
            </updates>
        </layout>
    </frontend>
    <default>
        <catalog>
            <attribute_configurator>
                <product_xml_location>/var/importexport/product_attributes/attribute.xml</product_xml_location>
            </attribute_configurator>
        </catalog>
    </default>
</config>
